*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(49, 47, 47);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    padding: 0 10%;
    font-family: 'Ubuntu', sans-serif;
   
}


header{
    text-align: center;
    background:white;
    padding: 50px 0;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.5);
}

header h1{
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
}

.border-pp{
    display: flex;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgb(139, 14, 98), rgb(241, 85, 150));
    margin: auto;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.4);
}

.border-pp img{
    width: 200px;
    border-radius: 50%;   
    box-shadow: -1px -1px 30px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header p{
    margin: 50px;
    font-size: 20px;
}

.social{

    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.sosmed{
    font-size: 40px;
    list-style: none;
    text-decoration: none;
}

.sosmed i{
    color: rgb(241, 85, 150);
}

main{
    background-color: rgb(241, 85, 150);
    text-align: center;
    padding-top: 50px;
    z-index: -1;
}
/* end header */
/* main start */
.main-menu{
    display: grid;
    gap:20px;
    list-style: none;
    margin: auto;
    justify-items: center;    
}

.list-menu {
    display: block;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    width: 100vh;
}

.list-menu:hover{
    color: rgb(241, 85, 150);
    background-color: white;
}
main p{
    font-weight: bold;
    padding: 30px 0;
    font-size: 14px;
}
/* end main */

/* responsive breakpoint */

@media (max-width:576px) {
    body{
        padding: 0 0;
    }
    .list-menu{
        width: 200px;
    }
}